@model List<Empleado>

@{
    ViewData["Title"] = "Compis";
}

<h1>Mis Compis</h1>

@if (Context.User.IsInRole("PRESIDENTE") ||
Context.User.IsInRole("DIRECTOR"))
{
    <form method="post">
        <label>Incremento salarial: </label>
        <input type="text" name="incremento"
            class="form-control"/>
        <button class="btn btn-info">
            A subir salarios!!!
        </button>
    </form>
}

<table class="table table-warning">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Oficio</th>
            <th>Salario</th>
            <th>Departamento</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Apellido</td>
            <td>@item.Oficio</td>
            <td>@item.Salario</td>
            <td>@item.IdDepartamento</td>
        </tr>
}
    </tbody>
</table>
